/*header section*/
.header {
  color: MediumAquamarine;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: solid thin black;
  padding: 0 30px;
  margin-bottom: 30px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-name {
    padding: 0 10px;
}

.header-nav-item {
  display: inline-block;
  padding: 0 10px;
}

/*content section*/
.content {
    display:flex;
}

.content-columns {
  display: flex;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  margin-right: 15px;
}

.content-columns div {
  border-style: solid;
  border-width: thin;
  padding-bottom: 15px;
}

.content-column {
  margin-right: 35px;
}

.content-column-large {
  width: 630px;
}

.content-column-medium {
  width: 300px;
}

.content-column-small {
  width: 240px;
}

.secondary {
  display: flex;

}

.secondary-column {
  display: flex;
  flex-direction: column;
}

.content-story-image {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  padding-bottom: 0px;
  border: 0px;
}

.main-story-image {
    background-image: url('../images/img-story-main.png');
    height: 300px;
    font-size: 40px;
    text-align: left;
}

.earth-spin-image {
    background-image: url('../images/img-story-2.png');
    height: 300px;
}

.camera-erase-image {
    background-image: url('../images/img-story-3.png');
    height: 300px;
}

.cats-control-image {
    background-image: url('../images/img-story-1.png');
    height: 300px;
}

.cookie-image {
    background-image: url('../images/img-news-bite.png');
    height: 240px;
}

.news-bites-header {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.news-bites {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-style: solid none;
  border-width: thin;
  display:flex;
  flex-direction: column;
}

/*footer section */
.footer {
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

.footer-logo {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right-style: solid;
  border-color: white;
}
